@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* @theme{
  --color-primary: #008B8B;
  --color-primary-dull: #00FFFF;
} */
@theme{
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
  --color-canvas: #09090B;
  --color-panel: #121217;
  --color-panel-light: #19191F;
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #52525b #18181b;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #09090B;
}

body{
  color: white;
  background-color: #09090B;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: white;
  background-color: #F84565;
}

.no-scrollbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
